@import '~app/styles/variables.css';

.wrapper {
  position: relative;
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

.titleAndTags {
  background-image: linear-gradient(rgba(0, 0, 0, 0%), #000);
  width: 100%;
  position: absolute;
  padding-bottom: 10px;
  padding-left: 10px;
  bottom: 0px;
  left: 0px;
  @media (--mobile-device) {
    background-image: none;
    background-color: rgba(0, 0, 0, 60%);
  }
}

.title {
  color: #fff;
  font-size: 1.3em;
  font-weight: 800;
  line-height: 1.4;
}

.tags {
  color: #fff;
  margin: 0;
  padding: 0;
  margin-left: 1px;
}

.image {
  display: flex;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.link {
  display: flex;
  height: 100%;
}
